body {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  width: 100%;
  height: 100%;
  background-color: #f9593a;
  overflow: hidden;
  position: relative;
}
header h1.text {
  font-family: sans-serif;
  bottom: -20vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17vw;
  color: #fa6843;
  position: absolute;
}
header h1.text span {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
header .scroll {
  cursor: pointer;
  background-color: #f9593a;
  padding: 1.5% 2%;
  border-radius: 50%;
  width: 2vw;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
header .ms {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 38%;
  transform: translate(-50%);
}
header .info {
  text-align: center;
  height: 50%;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: wrap column;
}
header .info span:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
}
header .info p {
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
}
header .info button {
  position: relative;
  z-index: 1;
  background-color: #ffc80a;
  cursor: pointer;
  color: #000;
  font-family: "Montserrat", sans-serif;
  width: 220px;
  box-shadow: 2px 2px 8px #ffb235;
  text-transform: uppercase;
  letter-spacing: 4px;
  height: 50px;
  border: 0;
  border-radius: 2em;
  font-size: 13px;
}
header nav {
  height: 80px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 25px;
  -webkit-align-items: center;
  align-items: center;
}
header nav .logo {
  flex-grow: 1;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
}
header nav .logo span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #ffb235;
}
header nav .sub {
  color: #fff;
}
header nav .sub a {
  transition: all ease 500ms;
  padding: 10px 50px;
  border: solid 1px #fff;
  border-radius: 1in;
  color: inherit;
  text-decoration: none;
}
header nav .sub a:hover {
  background-color: #fff;
  color: #f9593a;
}

.blur, .blur-2 {
  position: absolute;
  width: 120%;
  margin-left: -10%;
  height: 50vw;
  bottom: -80vw;
  filter: blur(40px);
  background-color: #f9593a;
  z-index: 999;
}

.blur-2 {
  height: 55vw;
}

.features {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  width: 100%;
  background-color: #f9593a;
  position: relative;
}
.features img {
  filter: drop-shadow(-1vw 2vw 15px #b61601);
}
.features .row-1, .features .row-2 {
  position: relative;
  width: 100%;
  height: 29vw;
}
.features .row-1 .item1, .features .row-2 .item1, .features .row-2 .item3 {
  width: 55%;
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
  color: #fff;
}
.features .row-1 .item1 img, .features .row-2 .item1 img, .features .row-2 .item3 img {
  position: relative;
  z-index: 1;
  width: 50%;
}
.features .row-1 .item1 .info, .features .row-2 .item1 .info, .features .row-2 .item3 .info {
  position: relative;
  margin-left: 50px;
}
.features .row-1 .item1 .info span, .features .row-2 .item1 .info span, .features .row-2 .item3 .info span {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}
.features .row-1 .item1 .info p, .features .row-2 .item1 .info p, .features .row-2 .item3 .info p {
  font-size: 1vw;
  line-height: 2;
}
.features .row-1 .item2, .features .row-2 .item2, .features .row-2 .item4 {
  width: 50%;
  position: absolute;
  right: -5%;
  top: 20%;
  display: flex;
  align-items: flex-start;
}
.features .row-1 .item2 img, .features .row-2 .item2 img, .features .row-2 .item4 img {
  position: relative;
  z-index: 1;
  width: 30%;
}
.features .row-1 .item2 .info, .features .row-2 .item2 .info, .features .row-2 .item4 .info {
  width: 50%;
  margin-left: 55px;
  color: #fff;
  position: relative;
}
.features .row-1 .item2 .info span, .features .row-2 .item2 .info span, .features .row-2 .item4 .info span {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}
.features .row-1 .item2 .info p, .features .row-2 .item2 .info p, .features .row-2 .item4 .info p {
  font-size: 1vw;
  line-height: 2;
}
.features .center-text {
  font-family: Montserrat;
  font-size: 10vw;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  top: 21vw;
  left: 50%;
  transform: translate(-50%);
}
.features .row-2 .item3 img {
  width: 30%;
}
.features .row-2 .item4 {
  top: -17%;
  align-items: flex-end;
}
.features .row-2 .item4 .info {
  margin-bottom: 80px;
}

.team_section {
  width: 100%;
  height: 150vh;
}
.team_section .row {
  display: flex;
  height: 20%;
  width: 100%;
}
.team_section .row .about:nth-last-child(1) {
  background-color: #ffc80a;
}
.team_section .row .about:nth-last-child(1) span, .team_section .row .about:nth-last-child(1) p, .team_section .row .about:nth-last-child(1) i {
  color: #fff !important;
}
.team_section .row .about {
  padding-left: 65px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}
.team_section .row .about .info p {
  max-width: 250px;
}
.team_section .row .about .info, .team_section .row .about .skill, .team_section .row .about .contact {
  color: #9fa3a7;
  font-family: "Montserrat";
}
.team_section .row .about .name span {
  line-height: 35px;
  color: #353535;
  font-size: 25px;
}
.team_section .row .about .skill span {
  text-transform: uppercase;
  font-weight: 500;
  color: #6d6d6d;
  letter-spacing: 2px;
  line-height: 2;
}
.team_section .row .about .contact i {
  color: #6d6d6d;
  font-weight: 200;
}
.team_section .row .about .contact span {
  color: #353535;
}
@supports (object-fit: cover) {
  .team_section .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.team_section .row .image, .team_section .row .about {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.catalog-list {
  width: 100%;
  display: -webkit-flex;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
}
.catalog-list .main {
  height: 100%;
  width: 100%;
  display: flex;
}
.catalog-list .main .box {
  height: 100%;
  flex: 1;
  background: url("../images/radio.png");
  background-position: left bottom;
  background-size: cover;
}
.catalog-list .main .box .info {
  margin: 5vw;
  float: left;
  height: 27vw;
  position: relative;
}
.catalog-list .main .box .info span {
  display: block;
}
.catalog-list .main .box .info span:first-child {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 5px;
}
.catalog-list .main .box .info span:nth-child(2) {
  text-transform: capitalize;
  font-size: 3vw;
  color: #292929;
  margin-bottom: 2vw;
}
.catalog-list .main .box .info p {
  font-family: "Montserrat";
  max-width: 290px;
  font-size: 1vw;
}
.catalog-list .main .box .info a:hover {
  color: #fff;
  background-color: #000;
}
.catalog-list .main .items {
  flex: 1;
}
.catalog-list .main .items .header {
  width: 100%;
  height: 50%;
  background-image: url("../images/Tv.png");
  background-position: bottom right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalog-list .main .items .header h1 {
  font-family: "Montserrat";
  font-weight: 500;
  color: #fff;
  margin: 0;
  margin-bottom: 25px;
}
.catalog-list .main .items .header a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1vw;
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 2em;
  transition: all ease 500ms;
}
.catalog-list .main .items .header a:hover {
  color: #000;
  background: #fff;
}
.catalog-list .main .items .bottom {
  width: 100%;
  height: 50%;
  display: flex;
}
.catalog-list .main .items .bottom .pic-box {
  position: relative;
  width: 50%;
  text-align: center;
  padding-top: 5%;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  background-color: #fddc1e;
}
.catalog-list .main .items .bottom .pic-box img {
  position: absolute;
  top: 20%;
  transform: translate(-50%);
  width: 50%;
}
.catalog-list .main .items .bottom .pic-box span {
  font-size: 2vw;
  font-family: "Montserrat";
  color: #fff;
  font-weight: bolder;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}
.catalog-list .main .items .bottom .bt-box::before {
  content: "\a";
  border-style: solid;
  border-width: 3vw 3vw 3vw 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -2vw;
}
.catalog-list .main .items .bottom .bt-box {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.catalog-list .main .items .bottom .bt-box span {
  font-size: 2.7vw;
  color: #292929;
}
.catalog-list .main .items .bottom .bt-box a {
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-decoration: none;
  color: #292929;
  font-weight: bolder;
  font-size: 1vw;
  border: 2px solid #fddc1e;
  padding: 10px 40px;
  border-radius: 2em;
  transition: all ease 500ms;
}
.catalog-list .main .items .bottom .bt-box a:hover {
  background-color: #fddc1e;
  color: #fff;
}

.catalog-list .main .box .info a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  position: absolute;
  bottom: 0;
  font-weight: bolder;
  font-size: 1vw;
  border: 1px solid #000;
  padding: 10px 40px;
  border-radius: 2em;
  transition: all ease 500ms;
}

@media screen and (max-width: 756px) {
  .header .blur, .header .blur-2 {
    height: 190vw;
    bottom: -290vw;
  }

  .main {
    flex-direction: column;
  }
  .main .items .header {
    height: 100% !important;
  }
  .main .items .header a {
    font-size: 2vw !important;
  }
  .main .items .bottom a {
    font-size: 1.5vw !important;
  }
  .main .items .bottom span {
    font-size: 3vw !important;
  }
  .main .box .info p {
    font-size: 17px !important;
  }
  .main a {
    font-size: 1.5vw !important;
  }

  img {
    filter: drop-shadow(-1vw 2vw 15px #b61601);
  }

  .features {
    display: none;
  }

  .mobile_section {
    height: 270vh;
    text-align: center;
    width: 100%;
    background-color: #f9593a;
  }
  .mobile_section .ft-text {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bolder;
  }
  .mobile_section .row {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
  }
  .mobile_section .row .info-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat";
    color: #fff;
  }
  .mobile_section .row .info-m span {
    font-size: 4vw;
    font-weight: bolder;
  }
  .mobile_section .row .info-m p {
    width: 80%;
  }
  .mobile_section .row img {
    margin-right: 40px;
    width: 50%;
  }

  .nav .logo {
    font-size: 3vw !important;
  }

  .info {
    height: 80% !important;
  }

  .info p {
    font-size: 5vw !important;
  }

  .info span:first-child {
    font-size: 2vw !important;
  }

  .info button {
    font-size: 2vw !important;
  }
}
@media screen and (min-width: 756px) {
  .mobile_section {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
